*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
        font-family: "Lato", sans-serif;
        font-style: normal;
}

.first-header{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.header-text{
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.header-text a{
    font-size: 14px;
    font-weight: 400;
    color: white;
}


header{
    background-color: white;
    padding: 40px 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-flexwrapper{
    display: flex;
    justify-content: space-between;
    gap: 1.4em;
    align-items: center;
}

.fa-bars{
    font-size: 20px;
}


.dropdown-items{
    position: absolute;
    background-color: white;
    border-top: 2px solid gray;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    left: 0;
    top: 140px;
    width: 100%;
    padding: 90px 30px;
    visibility: hidden;
}

.show{
    visibility: visible;
}

.item-wrapper2{
    display: flex;
    justify-content: space-between;
    padding-right: 190px;
    margin-bottom: 20px;
}

.item1 h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.item2 h3{
    margin-bottom: 20px;
    font-size: 20px;
}
.item-wrapper2 li{
    list-style-type: none;
    margin-bottom: 15px;
}

.item-wrapper2 li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.imageWrap img{
   position: relative;
}

.span{
    position: absolute;
    left: 90px;
    right: 50px;
    top: 400px;
    font-size: 20px;
    color: white;
}


.span2{
    position: absolute;
    left: 90px;
    right: 50px;
    top: 440px;
    font-size: 40px;
    color: white;
    font-weight: 500;
}

.imageWrap1 img{
    position: relative;
 }
 
 .span3{
     position: absolute;
     left: 880px;
     right: 50px;
     top: 400px;
     font-size: 20px;
     color: white;
 }
 
 
 .span4{
     position: absolute;
     left: 880px;
     right: 50px;
     top: 440px;
     font-size: 40px;
     color: white;
     font-weight: 500;

 }

.ulWrapper{
    display: flex;
    gap: 2em;
    list-style-type: none;
}
.dropdown-flex a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.headerlogo img{
width: 110px;
}

.fa-magnifying-glass{
    font-weight: 100;
    color: black;
    font-size: 18px;
}
.fa-user{
    font-weight: 100;
    color: black;
    font-size: 18px;
}
.fa-heart{
    font-weight: 100;
    color: black;
    font-size: 18px;
}
.fa-cart-shopping{
    font-weight: 100;
    color: black;
    font-size: 18px;
}

.headerIconWrapper{
    display: flex;
    gap: 2em;
}

.menu-bar2{
    display: none;
}


.menubar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 300px;
    height: 99.9vh;
    background-color: white;
    padding: 50px 20px;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;

}

.menu-list{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    justify-content: flex-start;
}

.x{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

#x{
    display: none;
}

.logo{
    width: 90px;
}


.menu-list li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
}

.menubar{
    visibility: hidden;
}


.menu-bar{
    background-color: white;
    padding: 20px;
}




@media(max-width:1440px){

    .dropdown-items{
        position: absolute;
        background-color: white;
        border-top: 2px solid gray;
        display: flex;
        justify-content: space-between;
        gap: 1em;
        /* flex-direction: column; */
        left: 0;
        top: 140px;
        width: 100%;
        padding: 30px 30px;
    }
    .item-wrapper2{
        padding-right: 30px;
        margin-bottom: 20px;
    }

    .imageWrap1 img{
    position: relative;
    width: 100%;
 }
 .imageWrap img{
    position: relative;
    width: 100%;
 }

 

}

@media(max-width:1300px){
    .span2{
        display: none;

    }
    .span3{
        display: none;
    }
    .span4{
        display: none;
    }

}
@media(max-width:930px){
    .imageWrap1 img{
        position: relative;
        width: 100%;
        display: none;
     }
     .imageWrap img{
        position: relative;
        width: 100%;
        display: none;
    }
    .span{
        display: none;
    }

    .dropdown-items{
        flex-direction: column;
    }

    .nav-flexwrapper{
        display: flex;
        justify-content: space-between;
        gap: 1.3em;
    }
    .ulWrapper{
        display: flex;
        gap: 1.5em;
        list-style-type: none;
    }

header{
    background-color: white;
    padding: 40px 9px;
}
.dropdown-flex a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

}

@media(max-width:768px){
    .menu-bar2{
        display: block;
    }
    .nav-flexwrapper{
       display: none;
    }

    .fa-magnifying-glass{
        font-weight: 100;
        color: black;
        font-size: 16px;
    }
    .fa-user{
        font-weight: 100;
        color: black;
        font-size: 16px;
    }
    .fa-heart{
        font-weight: 100;
        color: black;
        font-size: 16px;
    }
    .fa-cart-shopping{
        font-weight: 100;
        color: black;
        font-size: 16px;
    }
    
    .headerIconWrapper{
        display: flex;
        gap: 1em;
    }

}


.hero-section{
    background-image: url(./images/valna-studio-mU88MlEFcoU-unsplash-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: contain; 
    height: 80vh;
    background-position: 80%;
    background-color: #C3E4D1;
    padding: 200px 50px;
}

.hero-text{
    font-size: 18px;
    margin-bottom: 20px;
}
.hero-h1{
    font-size: 60px;
    line-height: 70px;
    max-width: 600px;
    font-weight: 300;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.hero-text1{
    font-size: 16px;
    margin-bottom: 25px;
}
.hero-section a{
    color: black;
    font-size: 18px;
}

@media(max-width:1024px){
    .hero-section{
        padding: 200px 20px;
        background-position: 100%;

    }
    .hero-h1{
        font-size: 40px;
        line-height: 58px;
        max-width: 400px;
        font-weight: 300;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }

}

@media(max-width:990px){
    .hero-section{
        padding: 130px 20px;
        background-position: 100%;

    }
    .hero-text{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .hero-h1{
        margin-bottom: 10px;
    }
}

@media(max-width:430px){
    .hero-section{
        padding: 160px 20px;
        background-position: 100%;

    }

    .hero-h1{
        font-size: 30px;
        line-height: 43px;
        max-width: 360px;
        font-weight: 300;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }

}
@media(max-width:360px){
    .hero-section{
        padding: 120px 20px;
        background-position: 100%;

    }
    .hero-h1{
        font-size: 25px;
        line-height: 40px;
        max-width: 360px;
        font-weight: 300;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }
}
.bestseller{
    padding: 100px 80px;
}

.flex-productwrapper{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.saletag{
    position: relative;
}

.image1{
   width: 220px;
   margin-bottom: 20px;
   position: relative;
}

.salesbox{
    background-color: black;
    color: white;
    width: 50px;
    height: 26px;
    text-align: center;
    font-size: 15px;
    position: absolute;
    top:14px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.salesbox1{
    background-color: grey;
    color: white;
    width: 70px;
    height: 26px;
    text-align: center;
    font-size: 15px;
    position: absolute;
    top:14px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-name{
    font-size: 14px;
    margin-bottom: 10px;
}



.addtocart{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
   visibility: hidden;
}

.addtocart a{
    text-decoration: none;
    color: white;
}
.heart2{
    position: absolute;
    right: 6px;
    bottom: 70px;
    display: none;
}

.heart{
    position: absolute;
    right: 15px;
    bottom: 29px;
}

.product-box:hover  .addtocart{
   visibility: visible;
  
}
.product-box:hover .heart2{
    display: block;
}
strike{
    color: grey;
    margin-left: 10px;
    font-weight: 200;
}
.bestseller-header{
    display: flex;
    justify-content: space-between;
}
.bestseller-header h1{
    margin-bottom: 30px;
    position: relative;
    line-height: 40px;
    max-width: 177px;
}

.linkk{
    color: grey;
    text-decoration: none;
    font-size: 16px;
    
}
fa-angles-right{
    color: grey;
    font-size: 13px;
}


.bestseller h1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: black;
}



@media(max-width:1340px){
    .flex-productwrapper{
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    .product-box{
        flex: 0 0 13%;
    }
    .bestseller{
        padding: 100px 40px;
    }
}


@media(max-width:768px){
    .bestseller{
        padding: 100px 20px;
    }
}



.new-collection{
    background-image: url(./images/product\ image81\ \(1\).jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.collection-textp{
    font-size: 20px;
    margin-bottom: 20px;
}

.new-collection h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 100;
    line-height: 70px;
    letter-spacing: 4px;
    margin-bottom: 15px;
}


.collection-link{
    color: black;
    font-size: 16px;
}



/* @media(max-width:1380px){
    .new-collection{
        background-image: url(./images/product\ image81\ \(1\).jpg);
        height: 80vh;
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    



} */



.image2{
   width: 430px;
   margin-bottom: 20px;
   position: relative;
}

.flex-saleswrapper{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}


.dealsoftheweek{
    padding: 100px 50px;
}

.salesbox3{
    background-color: red;
    color: white;
    width: 70px;
    height: 26px;
    text-align: center;
    font-size: 15px;
    position: absolute;
    top:14px;
    left: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dealsoftheweek-header{
    display: flex;
    justify-content: space-between;
}

.dealsoftheweek-header h1{
    margin-bottom: 20px;
}
.product-box1:hover  .addtocart{
    visibility: visible;
   
 }
 .product-box1:hover .heart2{
     display: block;
 }

 









@media(max-width:1430px){
    .flex-saleswrapper{
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    .product-box1{
        flex: 0 0 20%;
    }
    
}




@media(max-width:768px){
    .dealsoftheweek{
        padding: 100px 15px;
    }
    .flex-saleswrapper{
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    .product-box1{
        flex: 0 0 20%;
    }
    .image2{
        width: 370px;
        margin-bottom: 20px;
        position: relative;
     }
     .dealsoftheweek-header h1{
        margin-bottom: 20px;
        font-size: 23px;
    }
    

}

@media(max-width:425px){
    .dealsoftheweek{
        padding: 100px 8px;
    }
    .flex-saleswrapper{
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    .product-box1{
        flex: 0 0 20%;
    }
    .image2{
        width: 300px;
        margin-bottom: 20px;
        position: relative;
     }
     .dealsoftheweek-header h1{
        margin-bottom: 20px;
        font-size: 20px;
    }
    

}



.discount{
    background-image: url(./images/shop\ now1.jpg);
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    display: flex;
  justify-content: right;
  background-position: center;
}

.dicount-box{
    border: 2px solid black;
    width: 700px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.8;
}

.dicount-box p{
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 300;
    letter-spacing: 5px;
    color: white;
}

.dicount-box h1{
    font-size: 80px;
    margin-bottom: 15px;
    color: white;
    font-weight: 700;
    letter-spacing: 5px;
}
.dicount-box a{
    color: white;
    font-size: 18px;
}

@media(max-width:768px){
    .dicount-box{
        border: 2px solid black;
        width: 800px;
        height: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        opacity: 0.8;
    }

}


footer{
    display: flex;
    justify-content: space-between;
    padding: 100px 50px;
    padding-bottom: 0px;
    border-bottom: 2px solid grey;
}

.first-footer img{
    width: 140px;
    margin-bottom: 20px;
}
.first-footer p{
    max-width: 450px;
    margin-bottom: 16px;
    color: #1e1e1e;
    line-height: 23px;
}
.first-footer{
    flex: 1;
}
.emails{
    flex: 1;

}

.emails h1{
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
.emails p{
    margin-bottom: 18px;
    color: #1e1e1e;
}
input{
   max-width: 600px;
   width: 100%;
    height: 40px;
    padding: 15px;
}
.btnn{
    background-color: black;
    border: none;
    color: white;
    padding: 11.5px 28px;
}
.inputs{
    display: flex;
}

.first-footer ul{
    display: flex;
    gap: 2em;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.first-footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.first-footer ul li a:hover{
    color: red;
}

.fa-brands{
    font-size: 25px;
    font-weight: 100px;
    color: black;
}
.follow-us{
    display: flex;
    gap: 1em;
}
.fa-brands:hover{
    color: red;
}

@media(max-width:1120px){
    footer{
        display: flex;
        justify-content: space-between;
        padding: 80px 20px;
        padding-bottom: 0px;
        border-bottom: 2px solid grey;
    }
}

@media(max-width:1024px){
    footer{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 70px 20px;
        padding-bottom: 0px;
        gap: 4em;
        border-bottom: 2px solid grey;
    }

   
}

@media(max-width:568px){
    .first-footer ul{
        /* display: flex; */
        gap: .8em;
        list-style-type: none;
        margin-top: 15px;
        margin-bottom: 15px; 
        flex-direction: column;
    }
    .btnn{
        background-color: black;
        border: none;
        color: white;
        padding: 11.5px 22px;
        font-size: 11px;
    }
    
}