* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-family: "Lato", sans-serif;
    font-style: normal;
}

.first-header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.header-text {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.header-text a {
    font-size: 14px;
    font-weight: 400;
    color: white;
}


header {
    background-color: white;
    padding: 40px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-flexwrapper {
    display: flex;
    justify-content: space-between;
    gap: 1.4em;
    align-items: center;
}

.fa-bars {
    font-size: 20px;
}

.dropdown-flex{
    cursor: pointer;
}
.dropdown-items {
    position: absolute;
    background-color: white;
    border-top: 2px solid gray;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    left: 0;
    top: 140px;
    width: 100%;
    padding: 90px 30px;
    visibility: hidden;
}

.show {
    visibility: visible;
}

.item-wrapper2 {
    display: flex;
    justify-content: space-between;
    padding-right: 190px;
    margin-bottom: 20px;
}

.item1 h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.item2 h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.item-wrapper2 li {
    list-style-type: none;
    margin-bottom: 15px;
}

.item-wrapper2 li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.imageWrap img {
    position: relative;
}

.span {
    position: absolute;
    left: 90px;
    right: 50px;
    top: 400px;
    font-size: 20px;
    color: white;
}


.span2 {
    position: absolute;
    left: 90px;
    right: 50px;
    top: 440px;
    font-size: 40px;
    color: white;
    font-weight: 500;
}

.imageWrap1 img {
    position: relative;
}

.span3 {
    position: absolute;
    left: 880px;
    right: 50px;
    top: 400px;
    font-size: 20px;
    color: white;
}


.span4 {
    position: absolute;
    left: 880px;
    right: 50px;
    top: 440px;
    font-size: 40px;
    color: white;
    font-weight: 500;

}

.ulWrapper {
    display: flex;
    gap: 2em;
    list-style-type: none;
}

.dropdown-flex a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.headerlogo img {
    width: 110px;
}

.fa-magnifying-glass {
    font-weight: 100;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.fa-user {
    font-weight: 100;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.fa-heart {
    font-weight: 100;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.fa-cart-shopping {
    font-weight: 100;
    color: black;
    cursor: pointer;
    font-size: 18px;
}

.headerIconWrapper {
    display: flex;
    gap: 2em;
}

.menu-bar2 {
    display: none;
    cursor: pointer;
}


.menubar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 300px;
    height: 99.9vh;
    background-color: white;
    padding: 50px 20px;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;

}
.fa-bars{
    cursor: pointer;
}

.menu-list {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    justify-content: flex-start;
}

.x {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

#x {
    display: none;
}

.logo {
    width: 90px;
}


.menu-list li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
}

.menubar {
    visibility: hidden;
}


.menu-bar {
    background-color: white;
    padding: 20px;
}




@media(max-width:1440px) {

    .dropdown-items {
        position: absolute;
        background-color: white;
        border-top: 2px solid gray;
        display: flex;
        justify-content: space-between;
        gap: 1em;
        left: 0;
        top: 140px;
        width: 100%;
        padding: 30px 30px;
    }

    .item-wrapper2 {
        padding-right: 30px;
        margin-bottom: 20px;
    }

    .imageWrap1 img {
        position: relative;
        width: 100%;
    }

    .imageWrap img {
        position: relative;
        width: 100%;
    }



}

@media(max-width:1300px) {
    .span2 {
        display: none;

    }

    .span3 {
        display: none;
    }

    .span4 {
        display: none;
    }

}

@media(max-width:930px) {
    .imageWrap1 img {
        position: relative;
        width: 100%;
        display: none;
    }

    .imageWrap img {
        position: relative;
        width: 100%;
        display: none;
    }

    .span {
        display: none;
    }

    .dropdown-items {
        flex-direction: column;
    }

    .nav-flexwrapper {
        display: flex;
        justify-content: space-between;
        gap: 1.3em;
    }

    .ulWrapper {
        display: flex;
        gap: 1.5em;
        list-style-type: none;
    }

    header {
        background-color: white;
        padding: 40px 9px;
    }

    .dropdown-flex a {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }

}

@media(max-width:768px) {
    .menu-bar2 {
        display: block;
    }

    .nav-flexwrapper {
        display: none;
    }

    .fa-magnifying-glass {
        font-weight: 100;
        color: black;
        font-size: 16px;
    }

    .fa-user {
        font-weight: 100;
        color: black;
        font-size: 16px;
    }

    .fa-heart {
        font-weight: 100;
        color: black;
        font-size: 16px;
    }

    .fa-cart-shopping {
        font-weight: 100;
        color: black;
        font-size: 16px;
    }

    .headerIconWrapper {
        display: flex;
        gap: 1em;
    }

}


.create-account{
    padding: 50px 0px;
    background-color: white;
}

.section-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    margin-bottom: 20px;
}

.p a{
    text-decoration: none;
    color: gray;
    font-size: 17px;
}

.form{
    padding: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.form h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}


.formwrap{
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.formwrap label{
    font-size: 16px;
    color: #222222;
    margin-bottom: 10px;
}

.formwrap input{
    padding: 8px;
    margin-bottom: 12px;
}

.btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper button{
    border: none;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 10px 35px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}


.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}

.p1{
    color: red;
    font-size: 17.3px;
    cursor: pointer;
}





























footer{
    display: flex;
    justify-content: space-between;
    padding: 100px 50px;
    padding-bottom: 0px;
    border-bottom: 2px solid grey;
}

.first-footer img{
    width: 140px;
    margin-bottom: 20px;
}
.first-footer p{
    max-width: 450px;
    margin-bottom: 16px;
    color: #1e1e1e;
    line-height: 23px;
}
.first-footer{
    flex: 1;
}
.emails{
    flex: 1;

}

.emails h1{
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
.emails p{
    margin-bottom: 18px;
    color: #1e1e1e;
}
.input{
   max-width: 600px;
   width: 100%;
    height: 40px;
    padding: 15px;
}
.btnn{
    background-color: black;
    border: none;
    color: white;
    padding: 11.5px 28px;
    cursor: pointer;
}
.inputs{
    display: flex;
}

.first-footer ul{
    display: flex;
    gap: 2em;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.first-footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.first-footer ul li a:hover{
    color: red;
}

.fa-brands{
    font-size: 25px;
    font-weight: 100px;
    color: black;
}
.follow-us{
    display: flex;
    gap: 1em;
}
.fa-brands:hover{
    color: red;
}

@media(max-width:1120px){
    footer{
        display: flex;
        justify-content: space-between;
        padding: 80px 20px;
        padding-bottom: 0px;
        border-bottom: 2px solid grey;
    }
}

@media(max-width:1024px){
    footer{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 70px 20px;
        padding-bottom: 0px;
        gap: 4em;
        border-bottom: 2px solid grey;
    }

   
}

@media(max-width:568px){
    .first-footer ul{
        gap: .8em;
        list-style-type: none;
        margin-top: 15px;
        margin-bottom: 15px; 
        flex-direction: column;
    }
    .btnn{
        background-color: black;
        border: none;
        color: white;
        padding: 11.5px 22px;
        font-size: 11px;
    }
    
}